<a href="https://colab.research.google.com/github/al-foysal-tuhin/anaconda-issues/blob/master/Day1(Multiple_Variable_Regression).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np
from sklearn import linear_model

In [ ]:
df = pd.read_csv("homeprice.csv")
df

   area  bedroom  age   price
0  2600      3.0   20  550000
1  3000      4.0   15  565000
2  3200      NaN   18  610000
3  3600      3.0   30  595000
4  4000      5.0    8  760000

In [ ]:
import math
median_bedroom = math.floor(df.bedroom.median())
median_bedroom

3

In [ ]:
df.bedroom = df.bedroom.fillna(median_bedroom)
df

   area  bedroom  age   price
0  2600      3.0   20  550000
1  3000      4.0   15  565000
2  3200      3.0   18  610000
3  3600      3.0   30  595000
4  4000      5.0    8  760000

In [ ]:
lreg = linear_model.LinearRegression()
lreg.fit(df[['area','bedroom','age']], df.price)

LinearRegression()

In [ ]:
lreg.coef_

array([   137.25, -26025.  ,  -6825.  ])

In [ ]:
lreg.intercept_

383725.0

In [ ]:
lreg.predict([[3000,3,40]])

E:\Anaconda\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([444400.])

In [ ]:
ap = pd.read_csv('Admission_Predict.csv')
ap

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
0,1,337,118,4,4.5,4.5,9.65,1,0.92
1,2,324,107,4,4.0,4.5,8.87,1,0.76
2,3,316,104,3,3.0,3.5,8.00,1,0.72
3,4,322,110,3,3.5,2.5,8.67,1,0.80
4,5,314,103,2,2.0,3.0,8.21,0,0.65
...,...,...,...,...,...,...,...,...,...
395,396,324,110,3,3.5,3.5,9.04,1,0.82
396,397,325,107,3,3.0,3.5,9.11,1,0.84
397,398,330,116,4,5.0,4.5,9.45,1,0.91
398,399,312,103,3,3.5,4.0,8.78,0,0.67
399,400,333,117,4,5.0,4.0,9.66,1,0.95

In [ ]:
apreg = linear_model.LinearRegression()
apreg.fit(ap[['GRE Score', 'TOEFL Score', 'University Rating', 'SOP', 'LOR ', 'CGPA', 'Research']], ap[['Chance of Admit ']])

LinearRegression()

In [ ]:
apreg.predict([[325, 115, 2, 4, 3.5, 9.50, 0]])

E:\Anaconda\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([[0.84735101]])