<a href="https://colab.research.google.com/github/al-foysal-tuhin/30-days-of-machine-learning/blob/master/Day3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn import linear_model

In [ ]:
df = pd.read_csv('dataset.csv')
df

,Serial No.,Degree,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
0,1,B.Sc,337.0,118.0,4.0,4.5,4.5,9.65,1.0,0.92
1,2,B.Sc,324.0,107.0,4.0,4.0,4.5,8.87,1.0,0.76
2,3,B.Sc,316.0,104.0,3.0,3.0,3.5,8.00,1.0,0.72
3,4,B.Sc,322.0,110.0,3.0,3.5,2.5,8.67,NaN,0.80
4,5,B.Sc,314.0,103.0,2.0,2.0,3.0,8.21,0.0,NaN
...,...,...,...,...,...,...,...,...,...,...
395,396,M.Sc,324.0,110.0,3.0,3.5,3.5,9.04,1.0,0.82
396,397,M.Sc,325.0,107.0,3.0,3.0,3.5,9.11,1.0,0.84
397,398,M.Sc,330.0,116.0,4.0,5.0,4.5,9.45,1.0,0.91
398,399,B.Sc,312.0,103.0,3.0,3.5,4.0,8.78,0.0,0.67
399,400,NaN,333.0,117.0,4.0,5.0,4.0,9.66,1.0,0.95

In [ ]:
df.isnull().sum()

Serial No.            0
Degree                1
GRE Score            19
TOEFL Score          13
University Rating    15
SOP                   5
LOR                   8
CGPA                 28
Research             18
Chance of Admit      37
dtype: int64

In [ ]:
df['Degree'] = df['Degree'].fillna(method='ffill')

In [ ]:
df['GRE Score'] = df['GRE Score'].fillna(df['GRE Score'].median())
df['TOEFL Score'] = df['TOEFL Score'].fillna(df['TOEFL Score'].median())
df['University Rating'] = df['University Rating'].fillna(df['University Rating'].median())
df['SOP'] = df['SOP'].fillna(df['SOP'].median())
df['LOR'] = df['LOR'].fillna(df['LOR'].median())
df['CGPA'] = df['CGPA'].fillna(df['CGPA'].median())
df['Research'] = df['Research'].fillna(df['Research'].median())
df['Chance of Admit'] = df['Chance of Admit'].fillna(df['Chance of Admit'].median())

In [ ]:
df_new = pd.get_dummies(df,drop_first=True)
df_new.head()

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit,Degree_M.Sc
0,1,337.0,118.0,4.0,4.5,4.5,9.65,1.0,0.92,0
1,2,324.0,107.0,4.0,4.0,4.5,8.87,1.0,0.76,0
2,3,316.0,104.0,3.0,3.0,3.5,8.00,1.0,0.72,0
3,4,322.0,110.0,3.0,3.5,2.5,8.67,1.0,0.80,0
4,5,314.0,103.0,2.0,2.0,3.0,8.21,0.0,0.73,0

In [ ]:
y= df['Chance of Admit']
y

0      0.92
1      0.76
2      0.72
3      0.80
4      0.73
       ...
395    0.82
396    0.84
397    0.91
398    0.67
399    0.95
Name: Chance of Admit, Length: 400, dtype: float64

In [ ]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(df_new,y,test_size=0.2,random_state=20)

In [ ]:
lreg = linear_model.LinearRegression()
lreg.fit(x_train, y_train)

LinearRegression()

In [ ]:
lreg.score(x_test,y_test)

1.0

In [ ]:
from sklearn.metrics import mean_squared_error
mse = mean_squared_error(y_test,lreg.predict(x_test))
mse

1.3518102279654008e-30

In [ ]:
from math import sqrt
rmse = sqrt(mse)
rmse

1.1626737409804184e-15